#this-carousel-id.carousel.slide
  / class of slide for animation
  .carousel-inner
    .item.active
      / class of active since it's the first item
      %img{:alt => "", :src => "steps.jpg"}/
      .carousel-caption
        %p Caption text here
    .item
      %img{:alt => "", :src => "http://placehold.it/1200x480"}/
      .carousel-caption
        %p Caption text here
    .item
      %img{:alt => "", :src => "http://placehold.it/1200x480"}/
      .carousel-caption
        %p Caption text here
    .item
      %img{:alt => "", :src => "http://placehold.it/1200x480"}/
      .carousel-caption
        %p Caption text here
  / /.carousel-inner
  /
    Next and Previous controls below
    href values must reference the id for this carousel
  %a.carousel-control.left{"data-slide" => "prev", :href => "#this-carousel-id"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#this-carousel-id"} &rsaquo;
/ /.carousel