%h1 The Iron Yard

= link_to "Iron Yard Locations", locations_path
- if can? :create, @assignment
  = link_to "New Assignment", new_assignment_path
= link_to "View Assignments", assignments_path
= link_to "View Users", users_path