body {
  // background-image: url("steps.jpg");
  background-image: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  font-family: 'Lato', sans-serif;

}

.image-1 {
  image: url("steps.jpg")
}

.container-navbar {
  background-color: inherit;
}

