%li{:id => "location_#{location.id}"}
  = location.name
  %span.glyphicon.glyphicon-remove.remove_location{"aria-hidden" => "true", "data-item_id" => location.id}
  %span.glyphicon.glyphicon-pencil.edit_location{"aria-hidden" => "true", "data-item_id" => location.id}
  = location.address
  %span.glyphicon.glyphicon-remove.remove_location{"aria-hidden" => "true", "data-item_id" => location.id}
  %span.glyphicon.glyphicon-pencil.edit_location{"aria-hidden" => "true", "data-item_id" => location.id}
  .clear
  