%form#new_location_form
  .form-inline
    %label{:for => "location_name"} Name
    = text_field_tag :location_name, '', name: 'location[name]'
    %label{:for => "address"} Address
    = text_field_tag :location_address, '', name: 'location[address]'
    %a#add_location_button.btn.btn-primary Add